.title1 {
  color: #666666 !important;
  font-size: 20px;
  opacity: 10% !important;
}
.enterButton {
  float: left;
  width: 25%;
  background-color: #640212ad !important;
  border: solid 1px #640212ad !important;
  margin-top: 0px;
  height: 38px;
  border: none;
}
.enterButton:hover {
  background-color: white !important;
  color: #640212ad !important;
}
#searchInput {
  width: 60%;
  margin-right: 5%;
  float: left;
  margin-top: 0px;
  margin-left: 5%;
}
.form-group {
  height: 90px;
}
.jumbotronsearch {
  background-color: white !important;
  box-shadow: none !important;
  border: solid 1px #640212 !important;
  height: 100%;
  width: 95% !important;
  margin-left: auto !important;
  margin-right: auto !important;
  padding: 10px;
  margin-bottom: 20px;
}
.form {
  width: 100%;
  height: 50px;
}
p {
  float: none !important;
}
.inputDiv {
margin-top: 5%;
margin-bottom: 5%;
}
  @media all and (min-width: 480px) {

  }
  
  