.title1 {
  color: #666666 !important;
  font-size: 20px;
  opacity: 10% !important;
}

.form-group {
  height: 90px;
}
.jumbotronjumbo {
  background-color: white !important;
  box-shadow: none !important;
  border: solid 1px #640212 !important;
  height: 100%;
  width: 95% !important;
  margin-left: auto !important;
  margin-right: auto !important;
  padding: 10px;
  margin-bottom: 20px;
}


