label {
    display: inline-block;
    max-width: 100%;
    margin-bottom: 5px;
    font-weight: 700;
    color: white;
    text-shadow: 2px 2px 4px #000000;
}

.Login {
    margin-bottom: 100px;
}

.btn-default {
    color: #ffffff;
    background-color: #5cb85c;
}